# ==========================================
# REGLAS RECURSIVAS PARA UNITY (Nivel Superior)
# ==========================================

# Ignora las carpetas pesadas y temporales de Unity sin importar dónde estén
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Archivos de registro
*.log

# Archivos de proyectos y editores que se autogeneran
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.gradle/

# Archivos pesados de Blender que no se necesitan
*.blend1
*.blend1.meta

# Compilaciones finales (Evita subir instaladores pesados)
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Volcados de fallos de Unity y Mono
sysinfo.txt
mono_crash.*

# Plugins de Rider autogenerados dentro de subcarpetas Assets
**/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Paquetes Addressables y Visual Scripting (Búsqueda recursiva)
**/ServerData/
**/[Aa]ssets/StreamingAssets/aa*
**/[Aa]ssets/AddressableAssetsData/link.xml*
**/[Aa]ssets/Addressables_Temp*
**/[Aa]ssets/AddressableAssetsData/*/*.bin*
**/[Aa]ssets/Unity.VisualScripting.Generated/

# Archivos ocultos del sistema (macOS / Windows)
.DS_Store
.DS_Store?
**/.DS_Store
Thumbs.db


